@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Nunito&family=Rubik&display=swap');

/*
font-family: 'Barlow', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Rubik', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

body{
background-color: #F7F0F1;
font-family: 'Rubik', sans-serif;
color:#0C1713;
font-size: 1.1rem;
display: flex;
flex-wrap: wrap;
justify-content: center ;
}

header{
    background-color: #0C1713;
    display: flex;
    width: 100%;
    height: 96px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.25rem;
    position: sticky;
    top: 0px;
    z-index: 4;
    box-shadow: 10px 10px 10px rgba(88, 88, 88, 0.564);
}

.navBar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style:none;
}

.navBar .iconNavBar{
    gap: 1rem;
}
.menuItems{
    display: flex;
    list-style: none;
    background-color: #ffffffb6;
}

.navBarContainer a {
    text-decoration: none;
    color: #65071A;
    font-weight: 500;
    font-size: 2rem;
    padding: 1rem;
    width: 30rem;
}

.navBarContainer a:hover{
    font-weight: bolder;
}

.navBarContainer {
    display: block;
    position: relative;
    height: 60px;
}
.navBarContainer .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.navBarContainer .hamburgerMenu {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
.line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #E5B8C1;
}
.lineOne {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.lineTwo {
    transition: transform 0.2s ease-in-out;
}
    .lineThree {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.menuItems {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.841);
    height: 100vh;
    width: 20rem;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: end;
}
.menuItems li {
    margin-bottom: 1.2rem;
}
.navBarContainer input[type="checkbox"]:checked ~ .menuItems {
    transform: translateX(0);
}
.navBarContainer input[type="checkbox"]:checked ~ .hamburgerMenu .lineOne {
    transform: rotate(45deg);
}
.navBarContainer input[type="checkbox"]:checked ~ .hamburgerMenu .lineTwo {
    transform: scaleY(0);
}
.navBarContainer input[type="checkbox"]:checked ~ .hamburgerMenu .lineThree {
    transform: rotate(-45deg);
}
.navBarcontainer input[type="checkbox"]:checked ~ .logo{
    display: none;
}
.navBarcontainer input[type="checkbox"]:checked ~ .iconNavBar{
    display: none;
}
.navBar .iconNavBar img{
    cursor: pointer;
    transition: all 0.3s;
}
.navBar .iconNavBar img:hover{
    transform: scale(1.1);
}
.iconNavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*Seccion 1*/
.sectionPrimaria {
    background-image: url("../assets/img/homenuevo.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
    align-items: center;
}
.sectionPrimaria h1 {
    display: flex;
    text-align: center;
}
.sectionPrimaria div {
    display: flex;
}
.sectionPrimaria img{
    margin-top: 4rem;
}
.botonMas button {
    background-color: #65071A;
    border-style: ridge;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    width: 15rem;
    height: 4rem;
    color: #E5C1BD;
    padding: 10px 10px 10px 10px;
    border: 5px none;
    margin: 40px;
    border-radius: 35px;
    transition: all 0.3s ease 0s;
}
.botonMas button:hover {
background-color: #65071A;
color: #F6B2B2;
transform: scale(1.1);
}
/*Seccion 2*/
.sectionSecundaria {
    text-align: center;
    margin: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: 1.5rem;
}
.sectionSecundaria div a img {
    width: 18.75rem;
}
/*Seccion 3*/
.sectionTerciaria {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #F8D3DA;
    margin-top: 3rem;
    font-size: 1.25rem;
}

.principalContainer{
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.principalContainer:hover{
    transform: scale(1.1);
}
.principalContainer img{
    width: 18rem;
}
/*Seccion 4*/
.sectionCuarta {
    margin-top: 5rem;
    font-size: 1.2rem;
}

.info{
    padding: 1rem 1rem 1rem 1rem;
}
.subtitle{
    text-decoration: none;
    color:#65071A;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    padding: 2rem 2rem 2rem 2rem;
}
.divPrimeraCards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8rem;    
}
.cardHome {
    width: 21.875rem;
    height: 21.875rem;
    text-align: center;
    font-size: 1.2rem;
    gap: 96px;
    padding: 3rem;
    cursor: pointer;
    transition: all 0.3s;
}
.cardHome:hover{
    transform: scale(1.1);
}

.cardHome div{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    overflow: hidden;
    object-fit: cover;
    box-shadow: .0625rem .0625rem .625rem #c1c0c0;
}
.cardHome div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.divSegundaCards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 8rem;  
}

/*Seccion 5*/
.sectionQuinta{
    margin-top: 6rem;
}
.valueContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.personValue {
    width: 20rem;
    height: 28rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #F8D3DA;
    text-align: center;
    font-size: 1.2rem;
    margin: 20px;
    padding: 30px 30px 30px 30px;
    box-shadow: .0625rem .0625rem .625rem #0C1713;
}
.personValue div{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
    text-align: center;
}
.personValue div img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
}
.personValueTwo {
    width: 19.25rem;
    height: 26rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #F8D3DA;
    text-align: center;
    font-size: 1.1rem;
    margin: 20px;
    padding: 15px 15px 15px 15px;
    box-shadow: .0625rem .0625rem .625rem #0C1713;
}
.personValueTwo div{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}
.personValueTwo div img{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}
/*Seccion 6*/
.sectionSexta {
    background-color: #7B9E89;
    margin-top: 2rem;
    padding: 4rem;
}
.blog{
    text-decoration: none;
    color:#07393C;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    padding: 3rem 3rem 3rem 3rem;
}
.blogContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.blogCard {
    width: 21rem;
    height: 23rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #F8D3DA;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: .0625rem .0625rem .625rem #F7F0F1;
    cursor: pointer;
    transition: all 0.3s;
}
.blogCard:hover{
    transform: scale(1.1);
}
.blogCard div{
    width: 100%;
    height: 18rem;
    object-fit: cover;
}
.blogCard div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Seccion 7*/
.sectionSeptima{
    background-color: #E5C1BD;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.containerUnete {
    flex-wrap: wrap;
}
.unete {
    width: 50rem;
    height: 4rem;
    padding: 2rem;
    border-radius:30px;
    background-color: #E5B8C1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.botonUnirme button {
    background-color: #65071A;
    color: #E5C1BD;
    width: 6.875rem;
    height: 4rem;
    padding: 10px 10px 10px 10px;
    border: 5px none;
    margin-right: 100px;
    border-radius: 35px;    
    transition: all 0.3s ease 0s;
    text-align: center;
}
.botonUnirme button:hover {
background-color: #65071A;
color: #F6B2B2;
transform: scale(1.1);
}
.sectionSeptima form{
    background-color: #E5C1BD;
    color: #0C1713;
    padding: 10px 10px 10px 10px;
    border: 5px none;
    margin: 30px;
    font-size: 2rem;
    border-radius: 10%;
}

footer{
    width: 100%;
    margin-top: 4rem;
    padding: 80px 0px;
    background-color: #0C1713;
}
.containerFooter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 40px 0px;
    border-bottom: 2px solid #7B9E89;
}  
.boxFooter{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    flex-wrap: wrap;
    gap: 2.5rem;
}
.boxFooter a{
    margin-top: 10px;
    color: #F8D3DA;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}
.boxFooter h4{
    font-size: 20px;
    color: #F8D3DA;
    margin-bottom: 15px;
    font-weight: 400;
    display: inline-block;
}
.boxFooter ul li a{
    font-size: 18px;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.boxFooter ul li a:hover{
    color: #addabf;
    padding-left: 6px;
}
.boxIcon {
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
}
.iconFooter a:hover{
    opacity: 0.6; 
}
.boxAviso {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding: 0;
}
.boxAviso a{
    text-decoration: none;
    color: #F8D3DA;
    font-weight: 300;
}
.boxAviso a:hover{
    opacity: 0.9;
    color:#addabf
}
/*Seccion 8*/
.sectionOctava{
    text-align: center;
    width: 100%;
    background-color: #E5C1BD;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.sectionOctava img{
    display: flex;
    width: 45rem;
    height: 34rem;
}
.sectionOctava h1{
    display: flex;
}
.titleHead{
    text-decoration: none;
    color:#65071A;
    font-size: 4.5rem;
    font-family: 'Nunito', sans-serif;
    padding: 4rem 4rem 4rem 4rem;
}
/*Seccion 9*/
.sectionNovena{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 4rem 4rem 4rem 4rem;
}
.sectionNovena button {
    background-color: #F8D3DA;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: #0C1713;
    width: 9rem;
    height: 3rem;
    padding: 10px 10px 10px 10px;
    border: 5px none;
    margin: 15px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
.sectionNovena button:hover {
    background-color: #65071A;
    color: #F6B2B2;
    transform: scale(1.1);
}
/*Seccion 10*/
.grid{
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(minmax(200px, 1fr));
    grid-template-rows: repeat(6, auto);
    justify-content: center;
    padding: 1rem;
}
.grid-sectionDiez{
    grid-column: 1/6;
    grid-row: 1/2;
}
.grid-sectionOnce{
    grid-column: 1/2;
    grid-row:2/6;
}
.item--1{
    grid-column: 2/3;
    grid-row:2/3;
}
.item--2{
    grid-column: 3/4;
    grid-row:2/3;
}
.item--3{
    grid-column: 4/5;
    grid-row: 2/3;
}
.item--4{
    grid-column: 5/6;
    grid-row: 2/3;
}
.item--5{
    grid-column: 2/3;
    grid-row:3/4;
}
.item--6{
    grid-column: 3/4;
    grid-row:3/4;
}
.item--7{
    grid-column: 4/5;
    grid-row: 3/4;
}
.item--8{
    grid-column: 5/6;
    grid-row: 3/4;
}
.item--9{
    grid-column: 2/3;
    grid-row: 4/5;
}
.item--10{
    grid-column: 3/4;
    grid-row:4/5;
}
.item--11{
    grid-column: 4/5;
    grid-row:4/5;
}
.item--12{
    grid-column: 5/6;
    grid-row: 4/5;
}
.grid-sectionDiez{
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*Seccion 11*/
.grid-sectionOnce{
    text-align: left;
    margin-left: 2rem;
}
.listaProducto{
    list-style:none;
    padding: 0.5rem;
}
.listaProducto li a{
    text-decoration: none;
    color:#7B9E89;
    font-family: 'Rubik', sans-serif;
    padding: 0.2rem;
}
.cardProduct {
    width: 13.25rem;
    height: 20rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #F8D3DA;
    text-align: center;
}
.cardProduct div{
    width: 100%;
    height: 13.25rem;
    object-fit: cover;
}
.cardProduct div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-DestacadoMaq{
    width: 13.25rem;
    height: 20rem;
    text-align: center;
}
.grid-cardDestacadoMaq div{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
    object-fit: cover;
}
.grid-cardDestacadoMaq div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.masProduct{
    text-align: center;
}
.masProduct button {
    background-color: #65071A;
    border-style: ridge;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    width: 16rem;
    height: 4rem;
    color: #E5C1BD;
    padding: 10px 10px 10px 10px;
    border: 5px none;
    margin: 40px;
    border-radius: 35px;
    transition: all 0.3s ease 0s;
}
.masProduct button:hover {
background-color: #65071A;
color: #F6B2B2;
transform: scale(1.1);
}
/*Seccion 13*/
.sectionTrece{
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #E5C1BD;
    gap: 30px;
}
.sectionTrece img{
    display: flex;
    width: 45rem;
    height: 34rem;
}
.sectionTrece h1 {
    display: flex;
}
/*Seccion 14*/
.sectionCatorce{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4rem 4rem 0rem 4rem;
}
.sectionCatorce button {
    background-color: #F8D3DA;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: #0C1713;
    width: 9rem;
    height: 3rem;
    padding: 10px 10px 10px 10px;
    border: 5px none;
    margin: 15px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
.sectionCatorce button:hover {
    background-color: #65071A;
    color: #F6B2B2;
    transform: scale(1.1);
}
/*Seccion 15*/
.sectionQuince {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.trendContainer{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
    margin-bottom: 2rem;    
    }
.cardTrend {
    width: 21.875rem;
    height: 21.875rem;
    padding: 2rem;
}
.cardTrend div{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    overflow: hidden;
    object-fit: cover;
}
.cardTrend div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.trend{
    text-decoration: none;
    color:#07393C;
    font-family: 'Nunito', sans-serif;
    padding: 2rem 2rem 2rem 2rem;
}
/*Seccion 16*/
.gridSkin{
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(minmax(min(200px, 100%), 1fr));
    grid-template-rows: repeat(6, auto);
    justify-content: center;
    padding: 1rem;
}
.grid-sectionDieciseis{
    grid-column: 1/6;
    grid-row: 1/1;
}
.grid-sectionDiecisiete{
    grid-column: 1/1;
    grid-row: 2/6;
}
.item-1{
    grid-column: 2/3;
    grid-row:2/3;
}
.item-2{
    grid-column: 3/4;
    grid-row:2/3;
}
.item-3{
    grid-column: 4/6;
    grid-row: 2/3;
}
.item-4{
    grid-column: 2/3;
    grid-row: 3/4;
}
.item-5{
    grid-column: 3/4;
    grid-row:3/4;
}
.item-6{
    grid-column: 4/5;
    grid-row:3/4;
}
.item-7{
    grid-column: 5/6;
    grid-row: 3/4;
}
.item-8{
    grid-column: 2/3;
    grid-row: 4/5;
}
.item-9{
    grid-column: 3/4;
    grid-row: 4/5;
}
.item-10{
    grid-column: 4/5;
    grid-row: 4/5;
}
.item-11{
    grid-column: 5/6;
    grid-row: 4/5;
}
.item-12{
    grid-column: 2/3;
    grid-row: 5/6;
}
.item-13{
    grid-column: 3/4;
    grid-row: 5/6;
}
.item-14{
    grid-column: 4/5;
    grid-row: 5/6;
}
.item-15{
    grid-column: 5/6;
    grid-row: 5/6;
}
.item-16{
    grid-column: 2/4;
    grid-row:6/7;
}
.item-17{
    grid-column: 3/5;
    grid-row: 6/7;
}
.item-18{
    grid-column: 5/6;
    grid-row: 6/7;
}
.grid-sectionDieciseis{
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.grid-sectionDiecisiete{
    text-align: left;
    margin-left: 2rem;
}
.grid-sectionDieciocho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
}
.cardDestacadoSkin{
    width: 28rem;
    height: 20rem;
    text-align: center;
}
.cardDestacadoSkin div{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
    object-fit: cover;
}
.cardDestacadoSkin div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Seccion 19*/
.sectionDiecinueve {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.sectionDiecinueve div h1{
    margin-left: 8rem;
    text-align: center;
}
.sectionDiecinueve div img{
    display: flex;
    justify-content: flex-end;
    width: 45rem;
    height: 34rem;
}
/*Seccion 20*/
.sectionVeinte {
    background-color: #7B9E89;
    text-decoration: none;
    color:#07393C;
    font-family: 'Nunito', sans-serif;
    padding: 3rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
/*Seccion 21*/
.sectionVeintiuno{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
}
.recomendationContainer{
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.recomendationContainer img{
    width: 34rem;
    height: 24rem;
    border-radius: 3rem;
    text-align: center;
}
.recomendationContainer h3{
    padding-top: 1rem;
    text-align: center;
}
.tendenciaContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.tendencia{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.tendencia h3{
    margin-right: 16rem;
}
/*Seccion 22*/
.sectionVeintidos {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.IgContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
}
.cardIg {
    width: 21rem;
    height: 21rem;
    text-align: center;
    display: flex;
}
.cardIg div{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    overflow: hidden;
    object-fit: contain;
}
.cardIg div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Seccion 23*/
.sectionVeintitres {
    background-color: #F6B2B2;
    margin-top: 1rem;
    padding: 2rem;
}
.topicContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}
.masContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem;
}
/*Seccion 24*/
.sectionVeinticuatro {
    margin-top: 1rem;
    padding: 1rem;
}
/*Seccion 25*/
.sectionVeinticinco {
    background-color: #F6B2B2;
    margin-top: 1rem;
    padding: 1rem;
}
/*Seccion 26*/
.sectionVeintiseis{
    padding: 5rem 5rem 5rem 5rem;
    text-align: center;
}
.containerNosotros{
    display: grid;
    grid-template-columns: repeat(minmax(200px, 1fr));
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    gap: 30px;
}
.containerNosotros h1{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#65071A;
    font-size: 4.5rem;
    font-family: 'Nunito', sans-serif;
    padding: 4rem 4rem 4rem 4rem;
}
.containerNosotros img{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 30rem;
    height: 34rem;
    display: flex;
    margin-left: 5rem;
}
.containerNosotros p{
    grid-column: 1/3;
    grid-row: 2/3;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
/*Seccion 27*/
.sectionVeintisiete{
    font-size: 1.25rem;
    background-color: #7B9E89;
    padding: 4rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.quienesSomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.quienesSomos p{
    padding: 2rem;
    text-align: center;
}
.subtitle2{
    font-size: 1.875rem;
    padding: 2rem 2rem 2rem 2rem;
}
.imgNosotros2 img{
    width: 36rem;
    height: 28rem;
    border-radius: 8rem;
    padding: 2rem 2rem 2rem 2rem;
}

/*Seccion 28*/
.sectionVeintiocho{
    margin-top: 2rem;
    padding: 4rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 1.5rem;
    text-align: center;
}
.imgNosotros3 img{
    width: 66rem;
    height: 30rem;
    border-radius: 2.1875rem;
}
/*Seccion 29*/
.sectionVeintinueve{
    padding: 4rem 4rem 4rem 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.containerInfo{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    text-align: center;
    padding: 4rem;
}
.imgNosotros4 img{
    width: 640px;
    height: 448px;
    border-radius: 40rem;
}
.botonCv button {
    background-color: #65071A;
    border-style: ridge;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    width: 16rem;
    height: 4rem;
    color: #E5C1BD;
    padding: 10px 10px 10px 10px;
    border: 5px none;
    margin: 40px;
    border-radius: 35px;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.botonCv button:hover {
background-color: #65071A;
color: #F6B2B2;
transform: scale(1.1);
}
/*Seccion 30*/
.sectionTreinta{
    width:1184px;
    height: 800px;    
    padding: 4rem;
	border-radius: 2rem;
    background-color: #E5B8C1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem;
}
.sectionTreinta form{
    width:1184px;
    height: 450px;
	border-radius:30px;
	background-color: #E5B8C1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.datos {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 2rem;
    
}
.coment {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 2rem;
}
form label{
	width: 4rem;
	font-weight:bold;
}
form input[type="text"],
form input[type="email"]{
	width: 459px;
    height: 64px;
	padding:2rem;
	border:5px;
	border-radius: 20px;
	background-color:#FCFCFC;
	margin:8px 0;
}
form input[type="submit"]{
	width:459px;
    height: 352px;
	padding: 2rem;
	border: 5px;
	border-radius:20px;
    margin:8px 0;
	color:#FCFCFC;
	background-color: #07393C;
} 
.coment input{
	width: 459px;
	height: 352px;
    padding: 2rem;
	border:1px solid #FCFCFC;
	border-radius: 30px;
	background-color:#FCFCFC;	
    display: flex;
    justify-content: center;
}
.botonEnviar button {
    background-color: #65071A;
    border-style: ridge;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    width: 16rem;
    height: 4rem;
    color: #E5C1BD;
    padding: 10px 10px 10px 10px;
    border: 5px none;
    margin: 40px;
    border-radius: 35px;
    transition: all 0.3s ease 0s;
}
.botonEnviar button:hover {
background-color: #65071A;
color: #F6B2B2;
transform: scale(1.1);
}

/*1260*/
@media(max-width: 1260px) {
    .personValue{
        display:none;
    }
    .blogCard {
        width: 19rem;
        height: 21rem;
    }
    .blogCard div{
        width: 100%;
        height: 16rem;
        object-fit: cover;
    }
    .sectionSeptima {
        width: 100%;
    }
    .sectionOctava{
        gap: 10px;
    }
    .sectionOctava img{
        display: flex;
        width: 38rem;
        height: 29rem;
    }
    .grid{
        display: grid;
        width: 100%;
        gap: 15px;
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: repeat(6, auto);
        justify-content: center;
        padding: 1rem;
    }
    .grid-sectionDiez{
        grid-column: 1/6;
        grid-row: 1/1;
    }
    .grid-sectionOnce{
        grid-column: 1/1;
        grid-row: 2/6;
    }
    .item--1{
        grid-column: 2/3;
        grid-row:2/3;
    }
    .item--2{
        grid-column: 3/4;
        grid-row:2/3;
    }
    .item--3{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .item--4{
        display:none;
    }
    .item--5{
        grid-column: 2/3;
        grid-row:3/4;
    }
    .item--6{
        grid-column: 3/4;
        grid-row:3/4;
    }
    .item--7{
        grid-column: 4/5;
        grid-row: 3/4;
    }
    .item--8{
        display: none;
    }
    .item--9{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .item--10{
        grid-column: 3/4;
        grid-row:4/5;
    }
    .item--11{
        grid-column: 4/5;
        grid-row:4/5;
    }
    .item--12{
        display: none;
    }
    .cardTrend {
        width: 19.875rem;
        height: 19.875rem;
        padding: 2rem;
    }
    .grid{
        display: grid;
        width: 100%;
        gap: 15px;
        grid-template-columns: repeat(minmax(min(200px, 100%), 1fr));
        grid-template-rows: repeat(6, auto);
        justify-content: center;
        padding: 1rem;
    }
    .grid-sectionDieciseis{
        grid-column: 1/6;
        grid-row: 1/1;
    }
    .grid-sectionDiecisiete{
        grid-column: 1/1;
        grid-row: 2/6;
    }
    .item-1{
        grid-column: 2/3;
        grid-row:2/3;
    }
    .item-2{
        display: none;
    }
    .item-3{
        grid-column: 3/5;
        grid-row: 2/3;
    }
    .item-4{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .item-5{
        grid-column: 3/4;
        grid-row:3/4;
    }
    .item-6{
        grid-column: 4/5;
        grid-row:3/4;
    }
    .item-7{
        display: none;
    }
    .item-8{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .item-9{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    .item-10{
        grid-column: 4/5;
        grid-row: 4/5;
    }
    .item-11{
        display: none;
    }
    .item-12{
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .item-13{
        grid-column: 3/4;
        grid-row: 5/6;
    }
    .item-14{
        grid-column: 4/5;
        grid-row: 5/6;
    }
    .item-15{
        display: none;
    }
    .item-16{
        grid-column: 2/4;
        grid-row:6/7;
    }
    .item-17{
        grid-column: 3/5;
        grid-row: 6/7;
    }
    .item-18{
        display: none;
    }
    .sectionDiecinueve div h1{
        text-align: center;
        font-size: 5rem;
    }
    .sectionDiecinueve div img{
        display: flex;
        justify-content: flex-end;
        width: 36rem;
        height: 25rem;
    }
    .recomendationContainer img{
        width: 30rem;
        height: 20rem;
        border-radius: 3rem;
    }
    .cardIg {
        width: 19rem;
        height: 19rem;
    }
    .containerNosotros img {
        width: 28rem;
        height: 32rem;
    }
    .imgNosotros2 img{
        width: 28rem;
        height: 22rem;
        border-radius: 8rem;
    }
    .imgNosotros3 img{
        width: 45rem;
        height: 22rem;
        border-radius: 2rem;
    }
    .containerInfo{
        padding: 2rem;
    }
    .imgNosotros4 img{
        width: 30rem;
        height: 20rem;
        border-radius: 30rem;
    }
    .sectionTreinta{
        width: 680px;
        height: 1100px;
        justify-content: center;
        align-items: start;    
    }
    .sectionTreinta form{
        width:550px;
    }
}
/*Seccion media*/
@media(max-width: 1024px) {
    header {
        width: 100%;
    }
    main{
        width: 100%;
    }
    .navBar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .sectionSeptima{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .containerUnete{
        width: 30rem;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .unete {
        width: 20rem;
    }
    .containerFooter {
        text-align: center;
    }
    .boxFooter {
        width: 100%;
        margin-bottom: 30px;
    }
    .sectionSecundaria {
        text-align: center;
        margin: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: 1.2rem;
    }
    .sectionSecundaria img{
        width: 100%;
    }
    .principalContainer{
        margin:1rem;
    }
    .principalContainer img{
        width: 14rem;
    }
    .principalContainer h2{
        font-size: 1.2rem;
    }
    .principalContainer p{
        font-size: 0.8rem;
    }
    .subtitle{
        font-size: 1.5rem;
    }
    .cardHome{
        width: 18rem;
        height: 18rem;
        padding: 1.5rem;
        gap: 10px;
        font-size: 0.8rem;
    }
    .personValueTwo{
        width: 13.75rem;
        height: 17.875rem;
        border-radius: 2rem;
        overflow: hidden;
        font-size: 1rem;
        margin: 20px;
        padding: 10px 10px 10px 10px;
    }
    .personValueTwo div{
        margin: 5px;
    }
    .personValueTwo div img{
        width: 5.5rem;
        height: 5.5rem;
        margin: 5px;
    }
    .personValueTwo p{
        font-size: 0.7rem;
    }
    .personValue{
        display:none;
    }
    .blogCard {
        width: 14rem;
        height: 17rem;
        font-size: 0.8rem;
        margin: 1rem;
        text-align: center;
    }
    .blogCard div{
        width: 100%;
        height: 13rem;
    }
    .blogCard h3{
        padding: 0.5rem;
    }
    .blogCard div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .sectionNovena button {
        width: 6rem;
        height: 3rem;
        padding: 10px 10px 10px 10px;
        border: 5px none;
        margin: 8px;
        border-radius: 10px;
    }
    .grid{
        display: grid;
        width: 100%;
        gap: 15px;
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: repeat(6, auto);
        justify-content: center;
        padding: 1rem;
    }
    .grid-sectionDiez{
        grid-column: 1/6;
        grid-row: 1/1;
    }
    .grid-sectionOnce{
        display: none;
    }
    .item--1{
        grid-column: 2/3;
        grid-row:2/3;
    }
    .item--2{
        grid-column: 3/4;
        grid-row:2/3;
    }
    .item--3{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .item--4{
        display:none;
    }
    .item--5{
        grid-column: 2/3;
        grid-row:3/4;
    }
    .item--6{
        grid-column: 3/4;
        grid-row:3/4;
    }
    .item--7{
        grid-column: 4/5;
        grid-row: 3/4;
    }
    .item--8{
        display: none;
    }
    .item--9{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .item--10{
        grid-column: 3/4;
        grid-row:4/5;
    }
    .item--11{
        grid-column: 4/5;
        grid-row:4/5;
    }
    .sectionCatorce button {
        width: 6rem;
        height: 3rem;
        padding: 10px 10px 10px 10px;
        border: 5px none;
        margin: 8px;
        border-radius: 10px;
    }
    .cardTrend {
        width: 16.5rem;
        height: 16.5rem;
        padding: 2rem;
    }
    .gridSkin{
        display: grid;
        width: 100%;
        gap: 15px;
        grid-template-columns: repeat(minmax(min(200px, 100%), 1fr));
        grid-template-rows: repeat(6, auto);
        justify-content: center;
        padding: 1rem;
    }
    .grid-sectionDieciseis{
        grid-column: 1/6;
        grid-row: 1/1;
    }
    .grid-sectionDiecisiete{
        display:none;
    }
    .item-1{
        grid-column: 2/3;
        grid-row:2/3;
    }
    .item-2{
        display: none;
    }
    .item-3{
        grid-column: 3/5;
        grid-row: 2/3;
    }
    .item-4{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .item-5{
        grid-column: 3/4;
        grid-row:3/4;
    }
    .item-6{
        grid-column: 4/5;
        grid-row:3/4;
    }
    .item-7{
        display: none;
    }
    .item-8{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .item-9{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    .item-10{
        grid-column: 4/5;
        grid-row: 4/5;
    }
    .item-11{
        display: none;
    }
    .item-12{
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .item-13{
        grid-column: 3/4;
        grid-row: 5/6;
    }
    .item-14{
        grid-column: 4/5;
        grid-row: 5/6;
    }
    .item-15{
        display: none;
    }
    .item-16{
        grid-column: 2/4;
        grid-row:6/7;
    }
    .item-17{
        grid-column: 3/5;
        grid-row: 6/7;
    }
    .item-18{
        display: none;
    }
    .sectionDiecinueve div h1{
        text-align: center;
        font-size: 4rem;
        margin: 0px;
    }
    .sectionDiecinueve div img{
        width: 30rem;
        height: 26rem;
    }
    .cardIg {
        width: 14rem;
        height: 14rem;
    }
}
@media(max-width: 900px) {
    header{
        width: 100%;
    }
    main{
        width: 100%;
    }
    .blogCard {
        width: 12.5rem;
        height: 15rem;
        font-size: 0.8rem;
        margin: 0.5rem;
        text-align: center;
    }
    .blogCard div{
        width: 100%;
        height: 11rem;
    }
    .blogCard h3{
        padding: 0.5rem;
    }
    .card-3 {
        display: none;
    }
    .card-6 {
        display: none;
    }
    .trend2 {
        display: none;
    }
    .sectionDiecinueve div h1{
        text-align: center;
        font-size: 4rem;
    }
    .cardIg {
        width: 12.5rem;
        height: 12.5rem;
    }
}
/*Seccion ipad*/
@media(max-width: 768px) {
    header {
        width: 100%;
    }
    main {
        width: 100%;
    }
    .navBar {
        width: 768px;
        display: flex;
        justify-content: space-between;
    }
    .navBarContainer {
        width: 130px;
    }
    .iconNavBar img{
        width: 55px;
        height: 55px;
        gap:1px;
    }
    .sectionSeptima{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .containerUnete{
        width: 30rem;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .unete {
        width: 20rem;
    }
    .containerFooter {
        text-align: center;
    }
    .boxFooter {
        width: 100%;
        margin-bottom: 30px;
    }
    .sectionSecundaria {
        text-align: center;
        margin: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: 1.2rem;
    }
    .sectionSecundaria img{
        width: 100%;
    }
    .sectionTerciaria {
        display: flex;
        justify-content: center;
    }
    .principalContainer{
        margin:1rem;
    }
    .principalContainer img{
        width: 9.5rem;
    }
    .principalContainer h2{
        font-size: 1.2rem;
    }
    .principalContainer p{
        display: none;
    }
    .personValue{
        display: inline;
        width: 13.75rem;
        height: 17.875rem;
        border-radius: 2rem;
        overflow: hidden;
        font-size: 1rem;
        margin: 20px;
        padding: 10px 10px 10px 10px;
    }
    .personValue div{
        margin: 5px;
    }
    .personValue div img{
        width: 5.5rem;
        height: 5.5rem;
        margin: 5px;
    }
    .personValue p{
        font-size: 0.7rem;
    }
    .personValueTwo{
        display:none;
    }
    .sectionSexta{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sectionOctava img{
        width: 38rem;
        height: 25rem;
    }
    .sectionOctava h1{
        font-size: 4rem;
    }
    .sectionNovena button {
        margin: 3px;
    }
    .grid{
        display: grid;
        width: 100%;
        gap: 15px;
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: repeat(6, auto);
        justify-content: center;
        padding: 1rem;
    }
    .grid-sectionDiez{
        grid-column: 1/6;
        grid-row: 1/1;
    }
    .item--1{
        grid-column: 2/3;
        grid-row:2/3;
    }
    .item--2{
        grid-column: 3/4;
        grid-row:2/3;
    }
    .item--3{
        display: none;
    }
    .item--5{
        grid-column: 2/3;
        grid-row:3/4;
    }
    .item--6{
        grid-column: 3/4;
        grid-row:3/4;
    }
    .item--7{
        display: none;
    }
    .item--9{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .item--10{
        grid-column: 3/4;
        grid-row:4/5;
    }
    .item--11{
        display: none;
    }
    .sectionTrece img{
        width: 30rem;
        height: 20rem;
    }
    .sectionTrece h1{
        font-size: 4rem;
    }
    .sectionCatorce button {
        margin: 3px;
    }
    .gridSkin{
        display: grid;
        width: 100%;
        gap: 15px;
        grid-template-columns: repeat(minmax(min(200px, 100%), 1fr));
        grid-template-rows: repeat(6, auto);
        justify-content: center;
        padding: 1rem;
    }
    .grid-sectionDieciseis{
        grid-column: 1/6;
        grid-row: 1/1;
    }
    .item-1{
        grid-column: 2/3;
        grid-row:2/3;
    }
    .item-2{
        display: block;
    }
    .item-3{
        grid-column: 2/4;
        grid-row: 3/4;
    }
    .item-4{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .item-5{
        grid-column: 3/4;
        grid-row:4/5;
    }
    .item-6{
        display: none;
    }
    .item-8{
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .item-9{
        grid-column: 3/4;
        grid-row: 5/6;
    }
    .item-10{
        display: none;
    }
    .item-12{
        grid-column: 2/3;
        grid-row: 6/7;
    }
    .item-13{
        grid-column: 3/4;
        grid-row: 6/7;
    }
    .item-14{
        display: none;
    }
    .item-16{
        display: none;
    }
    .item-17{
        grid-column: 2/4;
        grid-row:7/8;
    }
    .trend h2{
        font-size: 1rem;
    }
    .sectionDiecinueve {
        justify-content: center;
    }
    .sectionDiecinueve div h1{
        font-size: 4rem;
        text-align: start;
    }
    .blog-3{
        display: none;
    }
    .ig-3 {
        display: none;
    }
    .blog-6 {
        display: none;
    }
    .blog-9 {
        display: none;
    }
    .blog-12 {
        display: none;
    }
}
@media(max-width: 640px) {
    header {
        width: 100%;
    }
    main {
        width: 100%;
    }
    .iconNavBar a img {
        width: 33px;
        height: 33px;
    }
    .botonMas button {
        font-size: 1.2rem;
        width: 12rem;
        height: 3rem;
    }
    .sectionSecundaria div a img {
        width: 12rem;
    }
    .sectionTerciaria{
        margin-top: 2rem;
    }
    .principalContainer img{
        width: 8rem;
    }
    .card-2 {
        display: none;
    }
    .card-4 {
        display: none;
    }
    .sectionNovena button {
        width: 5rem;
        height: 3rem;
        padding: 10px 10px 10px 10px;
        border: 5px none;
        margin: 5px;
        border-radius: 10px;
    }
    .btn5{
        display: none;
    }
    .btn6 {
        display: none;
    }
    .sectionCatorce button {
        width: 6rem;
        height: 3rem;
        padding: 10px 10px 10px 10px;
        border: 5px none;
        margin: 3px;
        border-radius: 10px;
    }
    .btn14{
        display: none;
    }
    .sectionDiecinueve {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .sectionDiecinueve div h1{
        text-align: center;
        font-size: 3.5rem;
    }
    .sectionVeintiuno{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem;
    }
    .recomendationContainer{
        padding: 1rem;
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .recomendationContainer img{
        width: 28rem;
        height: 18rem;
        border-radius: 2rem;
        justify-content: center;
        align-items: center;
    }
    .recomendationContainer h3{
        justify-content: center;
        font-size: 1rem;
    }
    .tendenciaContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    .tendencia{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .tendencia h3{
        margin-right: 5rem;
        font-size: 1rem;
    }
    .line2{
        display: none;
    }
}
@media(max-width:550px) {
    header {
        width: 100%;
    }
    main {
        width: 100%;
    }
    .logo img {
        display: none;
    }
    .sectionPrimaria{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .valueContainer img{
        width: 44px;
    }
    .cardProduct {
        width: 11.25rem;
        height: 18rem;
        border-radius: 2rem;
        overflow: hidden;
        background-color: #F8D3DA;
        text-align: center;
    }
    .cardProduct div{
        width: 100%;
        height: 11.25rem;
        object-fit: cover;
    }
    .cardProduct div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .grid-cardDestacadoMaq{
        width: 11.25rem;
        height: 18rem;
        text-align: center;
    }
    .sectionNovena button {
        margin: 10px;
    }
    .btn4 {
        display: none;
    }
    .btn9 {
        display: none;
    }
    .masProduct button {
        width: 14rem;
        height: 3rem;
        margin: 20px;
        border-radius: 35px;
    }
    .sectionCatorce button {
        margin: 7px;
    }
    .btn15{
        display: none;
    }
    .trend3 {
        display: none;
    }
    .cardDestacadoSkin{
        width: 23.375rem;
        height: 18rem;
    }
    .sectionDiecinueve div h1{
        text-align: center;
        font-size: 3rem;
    }
    .blog-2{
        display: none;
    }
    .ig-2 {
        display: none;
    }
    .blog-5 {
        display: none;
    }
    .blog-8 {
        display: none;
    }
    .blog-11 {
        display: none;
    }
    .recomendationContainer img{
        width: 19rem;
        height: 15rem;
        border-radius: 2rem;
        text-align: center;
    }
}  
/*Seccion pequeña*/
@media(max-width: 425px) {
    header {
        width: 100%;
    }
    main {
        width: 100%;
    }
    body {
        width: 100%;
    }
    .navBar {
        width: 425px;
        display: flex;
        flex-direction: row;
        gap: .3125rem;
    }
    .navBarContainer {
        width: 90px;
    }
    .iconNavBar img{
        width: 44px;
        height: 44px;
        gap:1px;
    }
    .sectionPrimaria{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .sectionPrimaria h1 {
        font-size: 1rem;
    }
    .botonMas button {
        font-size: 1.2rem;
        width: 10rem;
        height: 3rem;
    }
    .sectionSeptima{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .containerUnete{
        width: 25rem;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .unete {
        width: 25rem;
    }
    .containerFooter {
        text-align: center;
        display: flex;
    }
    .boxFooter {
        width: 100%;
        margin-bottom: 20px;
    }
    .boxAviso {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        margin-top: 1rem;
        padding: 1rem;
    }
    .sectionSecundaria {
        text-align: center;
        margin: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: 1.2rem;
    }
    .sectionSecundaria img{
        width: 100%;
    }
    .principalContainer{
        margin:0.5rem;
    }
    .principalContainer img{
        width: 5rem;
    }
    .principalContainer h2{
        font-size: 0.8rem;
    }
    .subtitle{
        font-size: 1.5rem;
        text-align: center;
    }
    .person-1{
        width: 12rem;
        height: 15rem;
        border-radius: 2rem;
        overflow: hidden;
        font-size: 1rem;
        margin: 10px;
        padding: 10px 10px 10px 10px;
    }
    .personValueTwo div{
        margin: 5px;
    }
    .personValueTwo div img{
        width: 5.5rem;
        height: 5.5rem;
        margin: 5px;
    }
    .personValueTwo p{
        font-size: 0.7rem;
    }
    .sectionSexta{
        padding: 3rem;
    }
    .blogContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sectionSeptima {
        font-size: 0.8rem;
        gap: 10px;
    }
    .botonUnirme button {
        width: 5rem;
        height: 3rem;
        font-size: 1rem;
    }
    .sectionOctava h1{
        font-size: 3rem;
    }
    .grid{
        gap: 12px;
        grid-template-columns: repeat (1fr, 1fr);
        grid-template-rows: repeat(4, auto);
        justify-content: center;
        padding: 1rem;
    }
    .grid-sectionDiez h3{
        font-size: 0.7rem;
    }
    .cardProduct {
        width: 8.25rem;
        height: 14rem;
        border-radius: 2rem;
        overflow: hidden;
        background-color: #F8D3DA;
        text-align: center;
    }
    .cardProduct div{
        width: 100%;
        height: 8.25rem;
        object-fit: cover;
    }
    .cardProduct div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .grid-cardDestacadoMaq{
        width: 8.25rem;
        height: 14rem;
        text-align: center;
    }
    .sectionTrece h1{
        font-size: 3rem;
    }
    .cardDestacadoSkin{
        width: 17.5rem;
        height: 14rem;
    }
    .btn3{
        display: none;
    }
    .btn8{
        display: none;
    }
    .btn13{
        display: none;
    }
    .recomendationContainer img{
        width: 18rem;
        height: 12rem;
        border-radius: 2rem;
        text-align: center;
    }
    .tendencia h3{
        margin-right: 5rem;
        font-size: 0.8rem;
    }
}
/*Seccion iphone*/
@media(max-width: 320px) {
    header {
        width: 100%;
    }
    main {
        width: 100%;
    }
    .navBar {
        width: 320px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navBarContainer {
        width: 70px;
    }
    .logo img{
        display:none;
    }
    .iconNavBar img{
        width: 44px;
        height: 44px;
        gap:0;
    }
    .sectionPrimaria{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .sectionPrimaria h1 {
        font-size: 1rem;
    }
    h2 {
        font-size: 0.8rem;
    }
    .sectionSeptima{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .containerUnete{
        width: 25rem;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .unete {
        width: 25rem;
    }
    .containerFooter {
        text-align: center;
        display: flex;
    }
    .boxFooter {
        width: 100%;
        margin-bottom: 20px;
    }
    .boxAviso {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        margin-top: 1rem;
        padding: 1rem;
    }
    .sectionSecundaria {
        text-align: center;
        margin: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 0.8rem;
    }
    .sectionSecundaria img{
        width: 100%;
    }
    .principalContainer{
        margin:0.5rem;
    }
    .principalContainer img{
        width: 5rem;
    }
    .principalContainer h2{
        font-size: 0.8rem;
    }
    .principalContainer p{
        display:none;
    }
    .subtitle{
        font-size: 1rem;
    }
    .valueContainer img{
        width: 33px;
    }
    .personValueTwo{
        width: 12rem;
        height: 15rem;
        border-radius: 2rem;
        overflow: hidden;
        font-size: 1rem;
        margin: 10px;
        padding: 10px 10px 10px 10px;
    }
    .personValueTwo div{
        margin: 5px;
    }
    .personValueTwo div img{
        width: 5.5rem;
        height: 5.5rem;
        margin: 5px;
    }
    .personValueTwo p{
        font-size: 0.7rem;
    }
    .personValueTwo{
        display:none;
    }
    .sectionSexta{
        padding: 3rem;
    }
}