@import "../../components/card";
@media(max-width: 1024px) {
    .titleHead {
        font-size: 4rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }
    .sectionPrimaria {
        max-width: 1024px;
    }
    .sectionTerciaria {
        article {
            margin: 1rem;
            img {
                width: 14rem;
            }
            h2 {
                font-size: 1.2rem;
            }
            p {
                font-size: 0.8rem;
            }
        }
    }
    .sectionCuarta {
        div {
            article {
                width: 18rem;
                height: 18rem;
                padding: 1.5rem;
                gap: 10px;
                font-size: 0.8rem;
            }
        }
    }
    .sectionQuinta {
        div {
            .personValueTwo {
                width: 13.75rem;
                height: 18.875rem;
                border-radius: 2rem;
                overflow: hidden;
                font-size: 1rem;
                margin: 20px;
                padding: 10px 10px 10px 10px;
                div {
                    width: 6.5rem;
                    height: 6.5rem;
                    margin: 5px;
                    img {
                        width: 5.5rem;
                        height: 5.5rem;
                        margin: 5px;
                    }
                }
                p {
                    font-size: 0.7rem;
                }
            }
            .personValue {
                display: none;
            }
        }
    }
    .sectionSexta {
        div {
            .blogCard {
                width: 15rem;
                height: 17rem;
                font-size: 0.8rem;
                margin: 0.5rem;
                text-align: center;
                div {
                    width: 100%;
                    height: 13rem;
                }
                h3 {
                    padding: 0.5rem;
                }
            }
        }
    }
    .sectionSeptima {
        form {
            width: 20rem;
        }
    }
    footer{
        .containerFooter {
            .boxFooter {
                margin-bottom: 30px;
            }
        }
    }
    .sectionNovena {
        padding: 3rem 3rem 3rem 3rem;
        div {
            a {
                button {
                    width: 6rem;
                    height: 3rem;
                    padding: 10px 10px 10px 10px;
                    border: 5px none;
                    margin: 8px;
                    border-radius: 10px;
                }
            }
        }
    }
    .sectionCatorce {
        div {
            a {
                button {
                    width: 6rem;
                    height: 3rem;
                    padding: 10px 10px 10px 10px;
                    border: 5px none;
                    margin: 8px;
                    border-radius: 10px;
                }
            }
        }
    }
    .sectionQuince {
        div {
            .cardTrend {
                width: 15rem;
                height: 15rem;
                padding: 2rem;
                h2 {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .gridSkin {
        @include grid ((1fr, 1fr), (7, auto), 15px);
        justify-content: center;
        padding: 0.5rem;
        .cardDestacadoSkin {
            width: 27.5rem;
        }
    }
    .sectionDiecinueve{
        div {
            h1 {
                text-align: center;
                font-size: 4rem;
                margin: 0px;
            }
        }
        div {
            img {
                width: 30rem;
                height: 26rem;
            }
        }
    }
    .sectionVeinte {
        div {
            .blogCard {
                width: 15rem;
                height: 17rem;
                font-size: 0.8rem;
                margin: 0.5rem;
                text-align: center;
                div {
                    width: 100%;
                    height: 13rem;
                }
                h3 {
                    padding: 0.5rem;
                }
            }
        }
    }
    .sectionVeintidos {
        div {
            .cardIg {
                width: 15rem;
                height: 15rem;
            }
        }
    }
    .topicContainer{
        div {
            .blogCard {
                width: 15rem;
                height: 17rem;
                font-size: 0.8rem;
                margin: 0.5rem;
                text-align: center;
                div {
                    width: 100%;
                    height: 13rem;
                    object-fit: cover;
                }
                h3 {
                    padding: 0.5rem;
                }
            }
        }
        .masContainer {
            h4 {
                font-size: 1.2rem;
            }
        }
    }
    .sectionVeintiseis {
        padding: 2rem;
        div {
            h1 {
                font-size: 3rem;
                font-family: 'Nunito', sans-serif;
                padding: 1rem;
            }
            img {
                width: 18rem;
                height: 22rem;
                margin-left: 4rem;
            }
            p {
                width: 800px;
            }
        }
    }
    .sectionVeintisiete {
        padding: 2rem 2rem 2rem 2rem;
        div {
            @include flex (column, none, none, center, 10px);
        }
        div {
            img {
                width: 28rem;
                height: 22rem;
                padding: 1.5rem 1.5rem 1.5rem 1.5rem;
            }
        }
    }
    .sectionVeintiocho {
        padding: 3rem 3rem 3rem 3rem;
        div {
            img {
                width: 40rem;
                height: 20rem;
            }
        }
    }
    .sectionVeintinueve {
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
        div {
            div {
                img {
                    width: 28rem;
                    height: 18rem;
                    border-radius: 30rem;
                }
            }
        }
    }
    .sectionTreinta {
        margin-left: 8rem;
        margin-bottom: 3rem;
        h2 {
            font-size: 1.3rem;
            padding: 1rem 1rem 1rem 1rem;
        }
    }
}