$color-principal: #65071A;
$color-secundario: #0C1713;
$color-terciario: #f8d3da;
$color-cuarto: #07393C;
$color-quinto: #7B9E89;
$color-button1: #E5C1BD;
$color-button2:#F6B2B2;
$background-color: #F7F0F1;
$color-footer: #ADDABF;